<!DOCTYPE html>

<html>
    <head>
        <title>Complexity Determiner</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% load static %}
        <link rel ="stylesheet" href="{% static 'css/homestyles.css' %}">

    </head>

    <body>

        <header id="heading">
            <center>    
            <h1> <a href="{% url 'compHome' %}" >Complexity-Determiner for Python Programs</a>    </h1>
            </center>
                </header>

    {%block compHomepage %} {% endblock %}
    {%block compSuccess %} {% endblock %}
        <footer id="footstyle">
            Created by: RC
        </footer>

    </body>

</html>
