
{% extends "basetemplate.html" %}
{%block compHomepage %}
        <section class="editp">
            <h2><p style="color:#ffffff" class="fw-light"><span style="text-decoration:underline;"  >
                Output:</span></h2><h3 style="color:#ffffff" class="fw-light"><span>Some errors occured.</h3></p>
            <p style="color:#ffffff" class="fw-light"><span >
                <h2 style="color:#ffffff" class="fw-light"><span style="text-decoration:underline;" >Possible sources of error:</h2></span><h3 style="color:#ffffff" class="fw-light"><span>The program provided might contain errors. <br>The program may reqire input and output</h3></p>
        </section>
        <br>


        <div class="clr">
        </div>
{% endblock %}

