{% extends "basetemplate.html" %}
{%block compHomepage %}
<style type="text/css">
    .rightpane {
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
  background-color: rgba(0,0,0, 0.4);
  border-collapse: collapse;
  color:#ffffff
</style>
        <div class="rightpane editp"><!-- Added at top not at botom as it will set it right first and then other stuff will set set left to it-->
            <h2><u>Recent Uploads</h2></u>
                <ul>
                {% for f in instances %}
                <li>
                <a href = "{{f.get_absolute_url}}">
                {{f.fname_field}}</a>  {{f.complexity_field}}
                </li>
                {% endfor %}
            </ul>
        </div>


        <section class="editp">
           <p  style="color:#ffffff"class="lead card-text"><span style="text-decoration:underline;" >Brief
                Description:</span></p>
            <p style="color:#ffffff"class="lead card-text">
                To get the complexity of any
        python program, upload the python program file or enter(/paste) the
        code in the text-area and hit 'Submit' button.</p>
        </section>
        <div  class="container">
                <p  style="color:#ffffff"class="lead card-text">Note: The program should contain only function definition and
            the specified arguments in the function definition should be just
            reference to the array</p>

        <form class ="myform" enctype="multipart/form-data" action="" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
            {% csrf_token %}
            {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.function_name.errors }}
    <label  style="color:#ffffff"class="lead card-text" for="{{ form.function_name.id_for_label }}">Enter function name:</label>
    {{ form.function_name }}
</div>
    <br>
<div class="fieldWrapper">
    {{ form.file.errors }}
    <label  style="color:#ffffff"class="lead card-text" for="{{ form.file.id_for_label }}">Upload a .py File :</label>
    {{ form.file }}
</div>
    <br>
    <br>
            <input class="buttonsub" type="submit" value="Submit">
        </form>
        <div class="clr">
        </div>
    <p>
         
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br><!-- this willl help to increase the size of the page-->
         <br>
         <br>
         <br>
     </p>

{% endblock %}
